@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
    color: #fff;
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b18f8d;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #b18f8d;
}

/* navbar styling */
nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    position: fixed;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px white;
    z-index: 100;
    margin-bottom: 100px;
    
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #b18f8d;
    text-shadow: 0 0 10px #b18f8d;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #b18f8d;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #b18f8d;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: #b18f8d;
}

section {
    width: 100%;
    min-height: 90vh;
    padding-top: 50px; /* Размер навбара */

      
}

section .main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
    padding-top: 100px;
}

.main-container .image {
    width: 500px;
    height: 53vh;
    border-radius: 100%;
    overflow: hidden;
    /* box-shadow: 0 0 50px #b18f8d; */
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #b18f8d;
    text-shadow: 0 0 10px #b18f8d;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: #b18f8d;
    text-shadow: 0 0 10px #b18f8d;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b18f8d;
    border-radius: 50%;
    color: #b18f8d;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    transform: scale(1.3) translateY(-5px);
    color: black;
    background-color: #b18f8d;
    filter: drop-shadow(0 0 10px #b18f8d);
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: black;
    color: #b18f8d;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 600;
    border-radius: 4rem;
    transition: 0.3s ease;
    cursor: pointer;
    border: 2px solid #b18f8d;
}

.content button:hover {
    transform: scale3d(1.03);
    color: black;
    background-color: #b18f8d;
    box-shadow: 0 0 25px #b18f8d;
}

/* About Section Style */

section .content {
    width: 80%;
    margin: 150px auto 0;
    font-family: 'Poppins' sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
.section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #b18f8d;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: white;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #b18f8d;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #b18f8d;
    background-color: white;
    color: #b18f8d;
}

.skills {
    background: black;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.skills-details .experience .num {
    font-size: 80px;
}

.skills-details .experience .exp {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-details .box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: #b18f8d;
}

.skills-details .boxes .per {
    font-size: 60px;
    color: #b18f8d;
}

.services .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white; 
    transition: all 0.4s ease;           ;
}

.services .boxes .box:hover {
    background: #b18f8d;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #b18f8d;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.boxes .box:hover .icon {
    background-color: white;
    color: #b18f8d;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
    color: white;
}

/* Contact Me CSS */
.contact {
    background: black;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

footer {
    background: #b18f8d;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins' sans-serif;
}

footer .text span {
    font-size: 17px;
    font-weight: 400;
}

footer .text a {
    font-weight: 500;
    color: white;

}

footer .text span a:hover {
    text-decoration: underline;
}

.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #b18f8d;    
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}

@media (max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }

    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 900) {
    .about .left img {
        height: 350px;
        width: 350px  ;

    }   
}

@media (max-width: 968px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    section .main-container {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        opacity: 1;
        pointer-events: visible;
    } 

    .main-container .content {
        margin-top: 20px;
        width: 80%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        z-index: -1;
        width: 50%;
        height: 50%;
    }

    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }

    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .services .boxes .box {
        margin: 20px 0;
        width: 100%;
    }

    .contact .text {
        width: 100%;
    }
}

 @media (max-width: 500px) {
     .main-container .image {
        width: 50%;
        height: 50%;
        margin-bottom: 0;
     }

     .main-container .content { 
        width: 80%;
     }

     .main-container button {
        margin-top: 15px;
     }

     .skills-details .boxes .per {
        font-size: 50px;
        color: #b18f8d;
     }
 }
